<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philanthrofeed"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- for most things, including card.io and paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Camera features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.philanthrofeed.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.philanthrofeed.ReceipientListActivity"
            android:label="@string/title_receipient_list"
            android:parentActivityName="com.example.philanthrofeed.Login2Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.philanthrofeed.Login2Activity" />
        </activity>
        <activity
            android:name="com.example.philanthrofeed.ReceipientDetailActivity"
            android:label="@string/title_receipient_detail"
            android:parentActivityName=".ReceipientListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReceipientListActivity" />
        </activity>
        <activity
            android:name="com.example.philanthrofeed.Recipient_Selection"
            android:label="@string/title_activity_recipient__selection" >
        </activity>
        <activity
            android:name="com.example.philanthrofeed.ShowRecipient"
            android:label="@string/title_activity_show_recipient" >
        </activity>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name="com.example.philanthrofeed.DonateThanks"
            android:label="@string/title_activity_donate_thanks" >
        </activity>
    </application>

</manifest>